/**
$breakpoint args
- phone
- tab-port
- tab-landsc
- big-desktop
 */
@import url("https://fonts.googleapis.com/css?family=Roboto:100,300,400,700&display=swap");
@keyframes animation-top {
  0% {
    opacity: 0;
    transform: translateY(-10rem); }
  100% {
    opacity: 1;
    transform: translate(0); } }

@keyframes animation-bottom {
  0% {
    opacity: 0;
    transform: translateY(10rem); }
  100% {
    opacity: 1;
    transform: translate(0); } }

@keyframes animation-left {
  0% {
    opacity: 0;
    transform: translateX(-10rem); }
  80% {
    transform: translateX(2rem); }
  100% {
    opacity: 1;
    transform: translate(0); } }

@keyframes animation-right {
  0% {
    opacity: 0;
    transform: translateX(10rem); }
  80% {
    transform: translateX(-2rem); }
  100% {
    opacity: 1;
    transform: translate(0); } }

*,
*:after,
*:before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%; }
  @media (max-width: 75em) {
    html {
      font-size: 56.25%; } }
  @media (max-width: 56.25em) {
    html {
      font-size: 50%; } }
  @media (min-width: 112.5em) {
    html {
      font-size: 75%; } }

body {
  /* background: linear-gradient(63deg, $color-primary 23%, transparent 23%) 7px 0,
  linear-gradient(63deg, transparent 74%, $color-primary 78%),
  linear-gradient(63deg, transparent 34%, $color-primary 38%, $color-primary 58%, transparent 62%),
  #444;
  background-size: 1.6rem 4.8rem;*/
  padding: 3rem;
  box-sizing: border-box; }
  @media (max-width: 56.25em) {
    body {
      padding: 0; } }

body {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  line-height: 1.7rem; }

.heading-prime {
  color: #ffff;
  text-transform: uppercase;
  backface-visibility: hidden;
  margin-bottom: 5rem;
  display: block; }
  .heading-prime-title {
    letter-spacing: .2rem;
    display: block;
    font-size: 15rem;
    font-weight: 100;
    margin-bottom: 9rem; }
    @media (max-width: 56.25em) {
      .heading-prime-title {
        letter-spacing: 1rem;
        font-size: 10rem;
        font-weight: 300; } }
  .heading-prime-subtitle {
    letter-spacing: .2rem;
    font-size: 3rem;
    font-weight: 100;
    display: block;
    margin-bottom: 3rem;
    line-height: 2rem; }
    @media (max-width: 56.25em) {
      .heading-prime-subtitle {
        letter-spacing: .1rem;
        font-size: 3rem;
        line-height: 3rem; } }

.forest-text {
  padding: 20rem 2rem;
  font-size: 3.5rem;
  text-align: center;
  line-height: 5rem;
  font-weight: 300;
  background-image: linear-gradient(to bottom, white 5%, rgba(0, 0, 0, 0) 50%, white 95%), url("../img/forest.jpg");
  color: white; }
  @media (max-width: 37.5em) {
    .forest-text {
      font-size: 2rem;
      line-height: 3rem; } }
  .forest-text__bold {
    font-weight: 700;
    line-height: 10rem; }

.heading-secondary {
  padding: 5rem 2rem;
  letter-spacing: .2rem;
  width: 100%;
  display: inline-block;
  font-size: 5rem;
  text-transform: uppercase;
  font-weight: 300;
  color: transparent;
  background-image: linear-gradient(to right, #CBF3F0, #2EC4B6);
  -webkit-background-clip: text;
  margin-bottom: 3rem; }
  .heading-secondary-white {
    background-image: linear-gradient(to right, #ffff, #ffff); }
  .heading-secondary-orange {
    background-image: linear-gradient(to right, #ff9f1c, #ffb54f); }
  .heading-secondary-blue {
    background-image: linear-gradient(to right, #2EC4B6, #4fd6c9); }
  @media (max-width: 56.25em) {
    .heading-secondary {
      line-height: initial;
      margin-bottom: 2rem;
      font-size: 3rem; } }
  @media (max-width: 37.5em) {
    .heading-secondary {
      padding: 2rem 0; } }

.paragraph {
  text-align: center;
  font-size: 2rem;
  word-spacing: .8rem;
  letter-spacing: .1rem;
  font-weight: 100;
  background-color: rgba(46, 196, 182, 0.4);
  padding: 3rem 1rem;
  border-radius: .3rem; }
  @media (max-width: 37.5em) {
    .paragraph {
      text-align: left; } }

.animation {
  animation-timing-function: ease-in-out;
  animation-duration: .7s; }
  .animation-top {
    animation-name: animation-top; }
  .animation-bottom {
    animation-name: animation-bottom; }
  .animation-left {
    animation-name: animation-left; }
  .animation-right {
    animation-name: animation-right; }

.center-text {
  text-align: center !important; }

.margin-bottom-small {
  margin-bottom: 6rem !important; }

.margin-bottom-big {
  margin-bottom: 8rem !important; }
  @media (max-width: 56.25em) {
    .margin-bottom-big {
      margin-bottom: 5rem !important; } }

.margin-bottom-medium {
  margin-bottom: 4rem !important; }
  @media (max-width: 56.25em) {
    .margin-bottom-medium {
      margin-bottom: 3rem !important; } }

.margin-bottom-huge {
  margin-bottom: 10rem !important; }
  @media (max-width: 56.25em) {
    .margin-bottom-huge {
      margin-bottom: 5rem !important; } }

.margin-top-big {
  margin-top: 8rem !important; }
  @media (max-width: 56.25em) {
    .margin-top-big {
      margin-bottom: 3rem !important; } }

.margin-top-huge {
  margin-top: 10rem !important; }
  @media (max-width: 56.25em) {
    .margin-top-huge {
      margin-bottom: 5rem !important; } }

.section-about {
  margin: -20rem 0;
  min-height: 130vh;
  padding: 25rem 0 25rem 0;
  --webkit-clip-path: polygon(0 10vh, 100% 0, 100% 100%, 0 100%);
  clip-path: polygon(0 10vh, 100% 0, 100% 100%, 0 100%);
  background-size: cover; }
  .section-about-1 {
    background-image: linear-gradient(to right, rgba(255, 255, 255, 0.5), rgba(255, 159, 28, 0.8)), url("../img/bottle_1.jpg");
    color: #ffff; }
  .section-about-2 {
    background-image: linear-gradient(to right, rgba(255, 159, 28, 0.5), rgba(255, 159, 28, 0.8)), url("../img/bottle_2.jpg");
    color: #ffff;
    margin-bottom: 0; }
  .section-about__image {
    width: auto;
    height: 70vh;
    display: block;
    margin: auto;
    border-radius: 1rem; }
  @media (max-width: 56.25em) {
    .section-about {
      margin: 0;
      padding: 10rem 0;
      min-height: 100vh;
      --webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
      clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%); } }

.section-properties {
  min-height: 110vh;
  padding: 6rem 2rem; }

.section-form {
  padding: 1rem 0;
  background-image: linear-gradient(#ffff 0, #2EC4B6), url("../img/water.jpg");
  background-size: cover;
  min-height: 100vh;
  background-position: bottom; }
  @media (max-width: 37.5em) {
    .section-form {
      background-repeat: no-repeat;
      background-size: cover;
      padding: 4rem 1rem; } }

.section-gallery {
  padding: 8rem 1rem;
  background-position: bottom;
  background-repeat: no-repeat;
  background-size: cover; }
  .section-gallery__container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 2rem; }
    @media (max-width: 37.5em) {
      .section-gallery__container {
        grid-template-columns: 1fr 1fr; } }

.order {
  position: relative; }
  .order-form {
    width: 70%;
    margin: auto;
    border-radius: 1rem;
    padding: 5rem 2rem; }
    @media (max-width: 37.5em) {
      .order-form {
        width: 100%;
        padding: 2rem 1rem; } }

.section-instagram {
  background-color: #ffff;
  padding: 1rem; }
  @media (max-width: 37.5em) {
    .section-instagram {
      padding: 1rem; } }
  .section-instagram .instargam-container {
    padding: 5rem; }
    @media (max-width: 37.5em) {
      .section-instagram .instargam-container {
        padding: 0; } }

.btn, .btn:link, .btn:visited {
  text-align: center;
  letter-spacing: .2rem;
  font-weight: 100;
  font-family: inherit;
  font-size: 2rem;
  text-transform: uppercase;
  text-decoration: none;
  cursor: pointer;
  display: inline-block;
  padding: 2rem 5rem;
  transition: all .2s;
  border: none;
  border-radius: 1rem;
  margin: 2rem 0;
  box-shadow: 0 1rem 1rem rgba(17, 17, 17, 0.2); }
  @media (max-width: 37.5em) {
    .btn, .btn:link, .btn:visited {
      padding: 1.5rem 4rem;
      font-size: 1.3rem; } }

.btn:hover {
  transform: translateY(0.3rem);
  box-shadow: 0 1rem 2rem rgba(17, 17, 17, 0.2); }
  .btn:hover:after {
    transform: scaleX(1.4) scaleY(1.6);
    opacity: 0; }

.btn:active, .btn:focus {
  transform: translateY(0.1rem);
  box-shadow: 0 0.5rem 1rem rgba(17, 17, 17, 0.2);
  outline: none; }

.btn-white {
  color: #2EC4B6;
  background-color: #ffff; }
  .btn-white:hover {
    background-color: #2EC4B6;
    color: #ffff; }

.btn-dark {
  color: #ffff;
  background-color: #2EC4B6; }
  .btn-dark:hover {
    color: #2EC4B6;
    background-color: #ffff; }

.photo {
  max-width: 90%;
  border-radius: 5rem;
  margin: auto;
  transition: all 400ms ease-in; }
  .photo:hover, .photo:active {
    transform: translateY(0.5rem) scale(1.05); }

.form {
  width: 90%;
  margin: auto; }
  .form-heading {
    font-size: 1.6rem;
    margin-bottom: 2rem;
    text-align: center;
    color: #ffff;
    padding: 1rem 3rem; }
  .form-group:not(:last-child) {
    margin-bottom: 2rem; }
  .form-input {
    font-size: 1.8rem;
    font-family: inherit;
    padding: 1.5rem 2rem;
    border-radius: 2rem;
    background-color: #ffff;
    border: none;
    width: 100%;
    display: block;
    margin: 0 auto;
    transition: all .3s;
    border-bottom: .3rem solid transparent; }
    .form-input:focus:invalid {
      border-bottom: 0.3rem solid #FF9F1C; }
    .form-input:focus {
      outline: none;
      box-shadow: 0 1rem 1rem rgba(17, 17, 17, 0.2);
      border-bottom: .3rem solid green; }
  .form-label {
    color: #ffff;
    font-size: 1.2rem;
    font-weight: 700;
    margin-left: 1rem;
    margin-top: 1rem;
    display: block;
    transition: all .3s; }
  .form-input:placeholder-shown + .form-label {
    opacity: 0;
    visibility: hidden;
    transform: translateY(-6rem); }
  .form .btn {
    width: 100%;
    display: block; }

.features-card {
  min-height: 95vh;
  padding: 4rem 2rem;
  width: 70%;
  margin: auto;
  background-image: linear-gradient(to right, rgba(255, 255, 255, 0.85), rgba(255, 255, 255, 0.95));
  box-shadow: 0 1rem 1rem rgba(17, 17, 17, 0.4);
  border-radius: 1rem; }
  @media (max-width: 37.5em) {
    .features-card {
      width: 95%;
      padding: 2rem 1rem; } }
  .features-card .active > * {
    color: #e88600;
    transform: scale(1.05);
    transition: all 1s; }
  .features-card__tab-header {
    cursor: pointer;
    transition: all 500ms; }
    .features-card__tab-header:hover, .features-card__tab-header:focus {
      transform: scale(1.05) translateX(-0.5rem);
      outline: none; }
    @media (max-width: 37.5em) {
      .features-card__tab-header .heading-secondary {
        font-size: 3rem; } }
  .features-card__content {
    padding: 3rem;
    transition: all 0.66s ease-out; }
  .features-card__list {
    list-style: none;
    margin: auto;
    transition: all 500ms; }
    .features-card__list-item {
      font-size: 2rem;
      font-weight: 400;
      color: #2EC4B6;
      margin-top: .5rem; }
      .features-card__list-item:not(:last-child) {
        margin-bottom: .5rem; }
      .features-card__list-item i.icon {
        color: #FF9F1C;
        font-size: 1.5em; }

.card {
  background-color: #ffffff;
  color: #2EC4B6;
  box-shadow: 0 1rem 2rem rgba(17, 17, 17, 0.2);
  padding: 1rem 1rem;
  border-radius: 1rem;
  overflow: hidden;
  text-align: center;
  transition: all 500ms; }
  .card:hover {
    transform: translateY(0.5rem);
    box-shadow: 0 0.5rem 1rem rgba(17, 17, 17, 0.5); }
  .card__heading {
    padding: 1rem 3rem; }
  .card__img {
    max-width: 95%;
    text-align: center; }
  .card__content {
    display: flex;
    flex-direction: column;
    font-size: 1.8rem; }
    .card__content-header {
      font-size: 4rem;
      font-weight: 200;
      margin-bottom: 3rem; }
      @media (max-width: 37.5em) {
        .card__content-header {
          font-size: 2rem; } }
    .card__content-price {
      font-size: 4rem;
      font-weight: 300;
      margin-bottom: 2rem; }

.checkout-button {
  display: flex;
  justify-content: center;
  vertical-align: middle;
  align-items: center;
  padding: 2rem;
  background: #ffff;
  position: fixed;
  bottom: 3rem;
  right: 3rem;
  width: 8rem;
  height: 8rem;
  border-radius: 50%;
  z-index: 10000;
  text-align: center;
  cursor: pointer;
  box-shadow: 0 1rem 1rem rgba(17, 17, 17, 0.4);
  transition: all .5s; }
  .checkout-button__link {
    font-size: 4rem;
    text-decoration: none;
    color: #FF9F1C;
    transition: all .5s; }
  .checkout-button__icon {
    width: 100%;
    height: 100%;
    fill: currentColor; }
  .checkout-button:hover {
    background-color: #FF9F1C;
    transform: translateY(-1rem);
    box-shadow: 0 0.5rem 0.5rem rgba(17, 17, 17, 0.8); }
    .checkout-button:hover .checkout-button__link {
      color: #ffff; }

.contacts {
  color: #ffff;
  display: flex;
  text-align: center;
  flex-direction: column; }
  .contacts__phone-number {
    margin-bottom: 2rem;
    font-size: 4rem;
    letter-spacing: 1px;
    font-weight: 100; }
    @media (max-width: 37.5em) {
      .contacts__phone-number {
        font-size: 3rem; } }
  .contacts__location {
    margin-bottom: 1rem;
    font-size: 2rem;
    font-weight: 300; }
  .contacts__time {
    font-size: 2rem;
    font-weight: 500; }
    @media (max-width: 37.5em) {
      .contacts__time {
        line-height: 2.3rem; } }

.properties {
  display: grid;
  grid-row-gap: 6rem;
  grid-template-columns: repeat(3, 1fr); }
  @media (max-width: 37.5em) {
    .properties {
      grid-row-gap: 3rem;
      grid-template-columns: repeat(2, 1fr); } }
  .properties__container {
    padding: 2rem;
    width: 60%;
    height: 100%;
    border-radius: 3rem;
    margin: auto;
    color: #FF9F1C;
    background-color: white;
    border: 1px solid #FF9F1C;
    transition: all 400ms ease-in; }
    .properties__container:hover, .properties__container:active {
      background-color: #FF9F1C;
      border: 1px solid transparent;
      color: #ffff;
      transform: translateY(0.5rem); }
  .properties__property {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: 0 0 30%; }
    .properties__property-text {
      margin-top: 2rem;
      font-size: 1.5rem;
      font-weight: 300;
      color: currentColor; }
  .properties__property-icon {
    width: 6rem;
    height: 6rem;
    fill: currentColor; }

.description {
  display: flex;
  justify-content: space-around;
  vertical-align: middle;
  align-items: center; }
  .description-image-text {
    flex-direction: row-reverse; }
  .description__content {
    flex: 0 0 60%;
    font-size: 3rem;
    padding: 3.5rem;
    font-weight: 100;
    letter-spacing: .1rem;
    line-height: 3rem; }
    .description__content-color-secondary {
      color: #2EC4B6; }
    .description__content-color-primary {
      color: #FF9F1C; }
  .description__image {
    flex: 1; }
  .description .image {
    width: 90%;
    height: auto; }
  @media (max-width: 37.5em) {
    .description {
      margin-top: 3rem;
      flex-direction: column-reverse;
      text-align: center; } }

.footer {
  padding: 5rem 0;
  font-size: 1.3rem;
  background-image: linear-gradient(to bottom, #2EC4B6 20%, #ffff);
  border-bottom-left-radius: 1rem;
  border-bottom-right-radius: 1rem;
  display: grid;
  align-items: center;
  justify-items: center;
  grid-template-columns: 1.5fr 1fr; }
  @media (max-width: 56.25em) {
    .footer {
      padding: 8rem 2rem;
      grid-template-columns: 1fr;
      grid-gap: 1rem; } }
  .footer-logo {
    text-align: center;
    margin-bottom: 2rem; }
    .footer-logo-img {
      max-width: 20%;
      height: auto; }

.row {
  max-width: 114rem;
  margin: 0 auto; }
  .row:not(:last-child) {
    margin-bottom: 8rem; }
    @media (max-width: 56.25em) {
      .row:not(:last-child) {
        margin-bottom: 6rem; } }
  @media (max-width: 56.25em) {
    .row {
      max-width: 50rem;
      padding: 0 2rem; } }
  .row::after {
    content: "";
    display: table;
    clear: both; }
  .row [class^="col-"] {
    float: left; }
    .row [class^="col-"]:not(:last-child) {
      margin-right: 6rem; }
      @media (max-width: 56.25em) {
        .row [class^="col-"]:not(:last-child) {
          margin-right: 0;
          margin-bottom: 6rem; } }
    @media (max-width: 56.25em) {
      .row [class^="col-"] {
        width: 100% !important; } }
  .row .col-1-of-2 {
    width: calc((100% - 6rem) / 2); }
  .row .col-1-of-3 {
    width: calc((100% - 2 * 6rem) / 3); }
  .row .col-2-of-3 {
    width: calc(2 * ((100% - 2 * 6rem) / 3) + 6rem); }
  .row .col-3-of-4 {
    width: calc(3 * ((100% - 3 * 6rem) / 4) + 2 * 6rem); }
  .row .col-2-of-4 {
    width: calc(2 * ((100% - 3 * 6rem) / 4) + 6rem); }
  .row .col-1-of-4 {
    width: calc((100% - 3 * 6rem) / 4); }

.header {
  border-top-right-radius: 1rem;
  border-top-left-radius: 1rem;
  position: relative;
  height: 120vh;
  background-image: linear-gradient(to right, rgba(255, 159, 28, 0.3), rgba(46, 196, 182, 0.3)), url("../img/bottle_2.jpg");
  background-size: cover;
  --webkit-clip-path: polygon(0 0, 100% 0, 100% 80%, 0 100%);
  clip-path: polygon(0 0, 100% 0, 100% 80%, 0 100%); }
  @media (max-width: 56.25em) {
    .header {
      clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
      --webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
      height: 110vh;
      border-radius: 0; } }
  .header__text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: block;
    text-align: center; }
