/**
$breakpoint args
- phone
- tab-port
- tab-landsc
- big-desktop
 */
@import url("https://fonts.googleapis.com/css?family=Roboto:100,300,400,700&display=swap");
@keyframes animation-top {
  0% {
    opacity: 0;
    transform: translateY(-10rem); }
  100% {
    opacity: 1;
    transform: translate(0); } }

@keyframes animation-bottom {
  0% {
    opacity: 0;
    transform: translateY(10rem); }
  100% {
    opacity: 1;
    transform: translate(0); } }

@keyframes animation-background {
  0% {
    background-position: 0 50%; }
  50% {
    background-position: 100% 50%; }
  100% {
    background-position: 0 50%; } }

@keyframes animation-left {
  0% {
    opacity: 0;
    transform: translateX(-10rem); }
  80% {
    transform: translateX(2rem); }
  100% {
    opacity: 1;
    transform: translate(0); } }

@keyframes animation-right {
  0% {
    opacity: 0;
    transform: translateX(10rem); }
  80% {
    transform: translateX(-2rem); }
  100% {
    opacity: 1;
    transform: translate(0); } }

*,
*:after,
*:before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%; }
  @media (max-width: 75em) {
    html {
      font-size: 56.25%; } }
  @media (max-width: 56.25em) {
    html {
      font-size: 50%; } }
  @media (min-width: 112.5em) {
    html {
      font-size: 75%; } }

body {
  overflow-x: hidden;
  /* background: linear-gradient(63deg, $color-primary 23%, transparent 23%) 7px 0,
  linear-gradient(63deg, transparent 74%, $color-primary 78%),
  linear-gradient(63deg, transparent 34%, $color-primary 38%, $color-primary 58%, transparent 62%),
  #444;
  background-size: 1.6rem 4.8rem;*/
  /*
  padding: 3rem;
  */
  box-sizing: border-box; }
  @media (max-width: 56.25em) {
    body {
      padding: 0; } }

body {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  line-height: 1.7rem; }

.heading-prime {
  color: currentColor;
  text-transform: uppercase;
  backface-visibility: hidden;
  margin-bottom: 5rem;
  display: block; }
  .heading-prime-title {
    letter-spacing: .2rem;
    display: block;
    font-size: 15rem;
    font-weight: 100;
    margin-bottom: 9rem; }
    @media (max-width: 56.25em) {
      .heading-prime-title {
        letter-spacing: 1rem;
        font-size: 10rem;
        font-weight: 300; } }
  .heading-prime-subtitle {
    letter-spacing: .2rem;
    font-size: 3rem;
    font-weight: 100;
    display: block;
    margin-bottom: 3rem;
    line-height: 3rem; }
    @media (max-width: 56.25em) {
      .heading-prime-subtitle {
        letter-spacing: .1rem;
        font-size: 3rem;
        line-height: 3rem; } }

.forest-text {
  padding: 20rem 2rem;
  font-size: 3.5rem;
  text-align: center;
  line-height: 5rem;
  font-weight: 300;
  background-image: linear-gradient(to bottom, white 5%, rgba(0, 0, 0, 0) 50%, white 95%), url("../img/forest.jpg");
  color: white;
  background-size: cover;
  background-repeat: no-repeat; }
  @media (max-width: 37.5em) {
    .forest-text {
      font-size: 2rem;
      line-height: 3rem;
      background-size: 100%; } }
  .forest-text__bold {
    font-weight: 700;
    line-height: 3rem;
    margin-bottom: 2rem; }

.heading-secondary {
  padding: 5rem 2rem;
  letter-spacing: .2rem;
  width: 100%;
  display: inline-block;
  font-size: 5rem;
  line-height: 5rem;
  text-transform: uppercase;
  font-weight: 300;
  color: transparent;
  background-image: linear-gradient(to right, #CBF3F0, #38486b);
  -webkit-background-clip: text;
  margin-bottom: 3rem; }
  .heading-secondary-white {
    background-image: linear-gradient(to right, #ffff, #ffff); }
  .heading-secondary-orange {
    background-image: linear-gradient(to right, #ff9f1c, #e23d31); }
  .heading-secondary-blue {
    background-image: linear-gradient(to right, #38486b, #5e76ab); }
  .heading-secondary-instagram {
    background-image: radial-gradient(circle farthest-corner at 35% 90%, #fec564, transparent 50%), radial-gradient(circle farthest-corner at 0 140%, #fec564, transparent 50%), radial-gradient(ellipse farthest-corner at 0 -25%, #5258cf, transparent 50%), radial-gradient(ellipse farthest-corner at 20% -50%, #5258cf, transparent 50%), radial-gradient(ellipse farthest-corner at 100% 0, #893dc2, transparent 50%), radial-gradient(ellipse farthest-corner at 60% -20%, #893dc2, transparent 50%), radial-gradient(ellipse farthest-corner at 100% 100%, #d9317a, transparent), linear-gradient(#6559ca, #bc318f 30%, #e33f5f 50%, #f77638 70%, #fec66d 100%); }
  @media (max-width: 56.25em) {
    .heading-secondary {
      line-height: initial;
      margin-bottom: 2rem;
      font-size: 3rem; } }
  @media (max-width: 37.5em) {
    .heading-secondary {
      padding: 2rem 0; } }

.paragraph {
  text-align: center;
  font-size: 2rem;
  word-spacing: .8rem;
  letter-spacing: .1rem;
  font-weight: 100;
  background-color: rgba(56, 72, 107, 0.4);
  padding: 3rem 1rem;
  border-radius: .3rem; }
  @media (max-width: 37.5em) {
    .paragraph {
      text-align: left; } }

.animation {
  animation-timing-function: ease-in-out;
  animation-duration: .7s; }
  .animation-top {
    animation-name: animation-top; }
  .animation-bottom {
    animation-name: animation-bottom; }
  .animation-left {
    animation-name: animation-left; }
  .animation-right {
    animation-name: animation-right; }

.center-text {
  text-align: center !important; }

.margin-top-small {
  margin-top: 5rem !important; }

.margin-bottom-xsmall {
  margin-bottom: 3rem !important; }

.margin-bottom-small {
  margin-bottom: 6rem !important; }

.margin-bottom-big {
  margin-bottom: 8rem !important; }
  @media (max-width: 56.25em) {
    .margin-bottom-big {
      margin-bottom: 5rem !important; } }

.margin-bottom-medium {
  margin-bottom: 4rem !important; }
  @media (max-width: 56.25em) {
    .margin-bottom-medium {
      margin-bottom: 3rem !important; } }

.margin-bottom-huge {
  margin-bottom: 10rem !important; }
  @media (max-width: 56.25em) {
    .margin-bottom-huge {
      margin-bottom: 5rem !important; } }

.margin-top-big {
  margin-top: 8rem !important; }
  @media (max-width: 56.25em) {
    .margin-top-big {
      margin-bottom: 3rem !important; } }

.margin-top-huge {
  margin-top: 10rem !important; }
  @media (max-width: 56.25em) {
    .margin-top-huge {
      margin-bottom: 5rem !important; } }

.section-about {
  margin: -20rem 5rem;
  min-height: 130vh;
  padding: 25rem 10rem 25rem 10rem;
  --webkit-clip-path: polygon(0 10vh, 100% 0, 100% 100%, 0 100%);
  clip-path: polygon(0 10vh, 100% 0, 100% 100%, 0 100%);
  background-size: cover; }
  .section-about-1 {
    background-image: linear-gradient(to right, rgba(255, 255, 255, 0.5), rgba(255, 159, 28, 0.8)), url("../img/bottle_1.jpg");
    color: #ffff; }
  .section-about-2 {
    background-image: linear-gradient(to right, rgba(255, 159, 28, 0.5), rgba(255, 159, 28, 0.8)), url("../img/bottle_2.jpg");
    color: #ffff;
    margin-bottom: 0; }
  .section-about__image {
    width: auto;
    height: 70vh;
    display: block;
    margin: auto;
    border-radius: 1rem; }
  @media (max-width: 56.25em) {
    .section-about {
      margin: 0;
      padding: 10rem 0;
      min-height: 100vh;
      --webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
      clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%); } }

.section-properties {
  min-height: 110vh;
  padding: 2rem; }
  @media (max-width: 37.5em) {
    .section-properties {
      min-height: 80vh; } }

.section-form {
  padding: 1rem 0;
  /*  background-image: linear-gradient($white 0, $color-secondary),
  url("../img/water.jpg");*/
  background-image: url("../img/bmob.gif"); }
  @media (max-width: 37.5em) {
    .section-form {
      background-repeat: no-repeat;
      padding: 4rem 1rem; } }

.section-gallery {
  padding: 5rem 10rem;
  background-position: bottom;
  background-repeat: no-repeat;
  background-size: cover; }
  @media (max-width: 37.5em) {
    .section-gallery {
      padding: 1rem; } }
  .section-gallery__container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 2rem; }
    @media (max-width: 37.5em) {
      .section-gallery__container {
        grid-template-columns: 1fr 1fr; } }

.order {
  position: relative; }
  .order-form {
    width: 70%;
    margin: auto;
    border-radius: 1rem;
    padding: 5rem 2rem; }
    @media (max-width: 37.5em) {
      .order-form {
        width: 100%;
        padding: 2rem 1rem; } }

.bottom-panel {
  min-width: 100vw;
  min-height: 1vh;
  background-image: linear-gradient(135deg, #ffedd0, #a1e6ff); }

.section-instagram {
  background-color: #ffff;
  padding: 1rem; }
  @media (max-width: 37.5em) {
    .section-instagram {
      padding: 1rem; } }
  .section-instagram .instargam-container {
    padding: 5rem; }
    @media (max-width: 37.5em) {
      .section-instagram .instargam-container {
        padding: 0; } }

.section-video {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center; }
  .section-video .video {
    width: 56vw;
    height: 31vw;
    display: block;
    margin: auto; }
    @media (max-width: 37.5em) {
      .section-video .video {
        margin-bottom: 3rem;
        width: 100vw;
        height: 55vw; } }

.bmob-image {
  display: block;
  margin: auto;
  width: 50%; }

.btn, .btn:link, .btn:visited {
  text-align: center;
  letter-spacing: .2rem;
  font-weight: 400;
  font-family: inherit;
  font-size: 2rem;
  text-transform: uppercase;
  text-decoration: none;
  cursor: pointer;
  display: inline-block;
  padding: 2rem 5rem;
  transition: all .2s ease-in;
  border: none;
  border-radius: 2rem;
  margin: 2rem 0;
  box-shadow: 0 1rem 1rem rgba(17, 17, 17, 0.2); }
  @media (max-width: 37.5em) {
    .btn, .btn:link, .btn:visited {
      padding: 1.5rem 3rem;
      font-size: 1.5rem; } }

.btn:hover, .btn:active {
  transform: translateY(-0.3rem);
  box-shadow: 0 0.75rem 0.5rem rgba(17, 17, 17, 0.2); }
  .btn:hover:after, .btn:active:after {
    transform: scaleX(1.4) scaleY(1.6);
    opacity: 0; }

.btn:active, .btn:focus {
  transform: translateY(0.1rem);
  box-shadow: 0 0.5rem 1rem rgba(17, 17, 17, 0.2);
  outline: none; }

.btn-white {
  color: #38486b;
  background-color: #ffff; }
  .btn-white:hover {
    /*  background-image: linear-gradient(to right, $color-secondary, $color-primary);*/
    background-image: linear-gradient(135deg, #ffedd0, #a1e6ff);
    color: #38486b; }

.btn-dark {
  color: #38486b;
  background-image: linear-gradient(135deg, #ffedd0, #a1e6ff); }
  .btn-dark:hover {
    color: currentColor;
    background-color: #ffff; }

.photo {
  max-width: 60%;
  border-radius: 5rem;
  margin: auto;
  transition: all 400ms ease-in; }
  @media (max-width: 37.5em) {
    .photo {
      max-width: 90%; } }
  .photo:hover, .photo:active {
    transform: translateY(0.5rem) scale(1.05); }

.form {
  width: 90%;
  margin: auto; }
  .form-heading {
    font-size: 1.6rem;
    margin-bottom: 2rem;
    text-align: center;
    color: #38486b;
    padding: 1rem 3rem; }
  .form-group:not(:last-child) {
    margin-bottom: 2rem; }
  .form-input {
    font-size: 1.8rem;
    font-family: inherit;
    padding: 1.5rem 2rem;
    border-radius: 2rem;
    background-color: #ffff;
    width: 100%;
    display: block;
    margin: 0 auto;
    transition: all 0.3s cubic-bezier(0, -0.1, 0, 1.06);
    border: 0.1rem solid #38486b; }
    .form-input:focus:invalid {
      border: 0.3rem solid #FF9F1C;
      /*
      border-top: .3rem solid $color-primary;
      */ }
    .form-input:focus {
      transform: scaleX(1.05);
      outline: none;
      box-shadow: 0 1rem 1rem rgba(17, 17, 17, 0.2);
      /*
      border-top: .3rem solid green;
      */
      border: .3rem solid green; }
  .form-label {
    color: #38486b;
    font-size: 1.2rem;
    font-weight: 700;
    margin-left: 1rem;
    margin-top: 1rem;
    display: block;
    transition: all .3s; }
  .form-input:placeholder-shown + .form-label {
    opacity: 0;
    visibility: hidden;
    transform: translateY(-6rem); }
  .form .btn {
    width: 100%;
    display: block; }

.features-card {
  min-height: 95vh;
  padding: 4rem 2rem;
  width: 70%;
  margin: auto;
  background-image: linear-gradient(to right, rgba(255, 255, 255, 0.85), rgba(255, 255, 255, 0.95));
  box-shadow: 0 1rem 1rem rgba(17, 17, 17, 0.4);
  border-radius: 1rem; }
  @media (max-width: 37.5em) {
    .features-card {
      width: 95%;
      padding: 2rem 1rem; } }
  .features-card .active > * {
    color: #e88600;
    transform: scale(1.05);
    transition: all 1s; }
  .features-card__tab-header {
    cursor: pointer;
    transition: all 500ms; }
    .features-card__tab-header:hover, .features-card__tab-header:focus {
      transform: scale(1.05) translateX(-0.5rem);
      outline: none; }
    @media (max-width: 37.5em) {
      .features-card__tab-header .heading-secondary {
        font-size: 3rem; } }
  .features-card__content {
    padding: 3rem;
    transition: all 0.66s ease-out; }
  .features-card__list {
    list-style: none;
    margin: auto;
    transition: all 500ms; }
    .features-card__list-item {
      font-size: 2rem;
      font-weight: 400;
      color: #38486b;
      margin-top: .5rem; }
      .features-card__list-item:not(:last-child) {
        margin-bottom: .5rem; }
      .features-card__list-item i.icon {
        color: #FF9F1C;
        font-size: 1.5em; }

.card {
  background-color: #ffffff;
  color: #38486b;
  box-shadow: 0 1rem 2rem rgba(17, 17, 17, 0.2);
  padding: 1rem 1rem;
  border-radius: 1rem;
  overflow: hidden;
  text-align: center;
  transition: all 500ms; }
  .card:hover {
    transform: translateY(0.5rem);
    box-shadow: 0 0.5rem 1rem rgba(17, 17, 17, 0.5); }
  .card__heading {
    padding: 1rem 3rem; }
  .card__img {
    max-height: 20rem;
    text-align: center; }
    @media (max-width: 37.5em) {
      .card__img {
        max-width: 100%; } }
  .card__content {
    display: flex;
    flex-direction: column;
    font-size: 1.8rem; }
    .card__content-header {
      font-size: 4rem;
      font-weight: 200;
      margin-bottom: 3rem; }
      @media (max-width: 37.5em) {
        .card__content-header {
          font-size: 2rem; } }
    .card__content-price {
      font-size: 3rem;
      font-weight: 300;
      line-height: 4.5rem;
      margin-bottom: 2rem; }

.checkout-button {
  display: flex;
  justify-content: center;
  vertical-align: middle;
  align-items: center;
  padding: 2rem;
  background-image: linear-gradient(135deg, #ffedd0, #a1e6ff);
  position: fixed;
  bottom: 3rem;
  right: 3rem;
  width: 8rem;
  height: 8rem;
  border-radius: 50%;
  z-index: 10000;
  text-align: center;
  cursor: pointer;
  box-shadow: 0 1rem 1rem rgba(17, 17, 17, 0.4);
  transition: all .5s; }
  .checkout-button__link {
    font-size: 4rem;
    text-decoration: none;
    color: #38486b;
    transition: all .5s; }
  .checkout-button__icon {
    width: 100%;
    height: 100%;
    fill: currentColor; }
  .checkout-button:hover {
    background-color: #FF9F1C;
    transform: translateY(-1rem);
    box-shadow: 0 0.5rem 0.5rem rgba(17, 17, 17, 0.8); }
    .checkout-button:hover .checkout-button__link {
      color: #ffff; }

.contacts {
  color: currentColor;
  display: flex;
  text-align: center;
  flex-direction: column; }
  .contacts__phone-number {
    margin-bottom: 2rem;
    font-size: 4rem;
    letter-spacing: 1px;
    font-weight: 100; }
    @media (max-width: 37.5em) {
      .contacts__phone-number {
        font-size: 3rem; } }
  .contacts__location {
    margin-bottom: 1rem;
    font-size: 2rem;
    font-weight: 300; }
  .contacts__time {
    font-size: 2rem;
    font-weight: 500; }
    @media (max-width: 37.5em) {
      .contacts__time {
        line-height: 2.3rem; } }

.properties {
  display: grid;
  grid-row-gap: 6rem;
  grid-template-columns: repeat(4, 1fr); }
  @media (max-width: 37.5em) {
    .properties {
      grid-row-gap: 3rem;
      grid-template-columns: repeat(2, 1fr); } }
  .properties__container {
    padding: 2rem;
    width: 60%;
    height: 100%;
    border-radius: 3rem;
    margin: auto;
    color: #38486b;
    background-color: white;
    /*
    border: 1px solid $color-primary;
    */
    transition: all 400ms ease-in;
    /*    &:hover, &:active {
      background-color: $color-primary;
      !*
      border: 1px solid transparent;
      *!
      !*
      color: $white;
      *!
      transform: translateY(.5rem);

    }*/ }
  .properties__property {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: 0 0 30%; }
    .properties__property-text {
      margin-top: 2rem;
      font-size: 2rem;
      font-weight: 200;
      color: currentColor; }
  .properties__property-icon {
    width: 6rem;
    height: 6rem; }

.description {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center; }
  .description__content {
    flex: 0 0 60%;
    font-size: 3rem;
    padding: 3.5rem;
    font-weight: 100;
    letter-spacing: .1rem;
    line-height: 3rem; }
    .description__content-color-secondary {
      background-image: linear-gradient(to right, #e23d31, #214713);
      -webkit-background-clip: text;
      color: transparent;
      /*
      color: $color-secondary;
      */ }
    .description__content-color-red {
      color: #e23d31; }
    .description__content-color-primary {
      color: #FF9F1C; }
    .description__content-color-blue {
      color: #38486b; }
  .description__image {
    text-align: center; }
  .description .image {
    max-width: 20vw;
    height: auto; }
  @media (max-width: 37.5em) {
    .description {
      margin-top: 3rem;
      flex-direction: column-reverse;
      text-align: center; } }

.footer {
  padding: 5rem 0;
  font-size: 1.3rem;
  color: #38486b;
  /*
  color: $color-secondary;
  background-image: linear-gradient(to bottom, $color-secondary 20%, $white);
  */
  border-bottom-left-radius: 1rem;
  border-bottom-right-radius: 1rem;
  display: grid;
  align-items: center;
  justify-items: center;
  grid-template-columns: 1fr 1fr; }
  @media (max-width: 56.25em) {
    .footer {
      padding: 8rem 2rem;
      grid-template-columns: 1fr;
      grid-gap: 1rem; } }
  .footer__social {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    vertical-align: middle;
    width: 100%; }
    .footer__social .social-link {
      margin: 0 1rem;
      display: block; }
      .footer__social .social-link .social-icon {
        height: 5rem;
        width: 5rem; }
  .footer-logo {
    text-align: center;
    margin-bottom: 2rem; }
    .footer-logo-img {
      max-width: 20%;
      height: auto; }

.header {
  /*  border-top-right-radius: 1rem;
  border-top-left-radius: 1rem;*/
  position: relative;
  height: 100vh;
  background-image: linear-gradient(135deg, #ffedd0, #a1e6ff);
  animation-name: animation-background;
  background-size: 400% 400%;
  animation-duration: 4s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in;
  --webkit-clip-path: polygon(0 0, 100% 0, 100%  75%, 50% 100%, 0 100%);
  clip-path: polygon(0 0, 100% 0, 100% 75%, 50% 100%, 0 100%);
  color: #38486b; }
  @media (max-width: 56.25em) {
    .header {
      clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
      --webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
      height: 110vh;
      border-radius: 0;
      background-image: linear-gradient(135deg, rgba(255, 237, 208, 0.2), rgba(161, 230, 255, 0.2)), url("../img/header.jpg");
      background-size: 100%;
      animation: none;
      background-repeat: no-repeat;
      background-position: bottom; } }
  .header__text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: block;
    text-align: center; }
