$color-primary: #FF9F1C;
$color-primary-light: #FFBF69;
$color-secondary: #2EC4B6;
$color-secondary-light: #CBF3F0;

$white: #ffff;
$black: #111;
$white-light: #ffffff;

//Grid variables
$grid-width: 114rem;
$gutter-vertical: 8rem;
$gutter-vertical-small: 6rem;
$gutter-horizontal: 6rem;
