.footer {
  padding: 5rem 0;
  font-size: 1.3rem;
  color: $color-secondary;
  /*
  color: $color-secondary;
  background-image: linear-gradient(to bottom, $color-secondary 20%, $white);
  */
  border-bottom-left-radius: 1rem;
  border-bottom-right-radius: 1rem;
  display: grid;
  align-items: center;
  justify-items: center;
  grid-template-columns: 1fr 1fr;



  @include respond(tab-port) {
    padding: 8rem 2rem;
    grid-template-columns: 1fr;
    grid-gap: 1rem;
  }

  &__social {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    vertical-align: middle;
    width: 100%;

    .social-link {
      margin: 0 1rem;
      display: block;

      .social-icon {
        height: 5rem;
        width: 5rem;
      }
    }
  }

  &-logo {
    text-align: center;
    margin-bottom: 2rem;

    &-img {
      max-width: 20%;
      height: auto;
    }
  }

}
