.btn {


  &,
  &:link,
  &:visited {
    text-align: center;
    letter-spacing: .2rem;
    font-weight: 400;
    font-family: inherit;
    font-size: 2rem;
    text-transform: uppercase;
    text-decoration: none;
    cursor: pointer;
    display: inline-block;
    padding: 2rem 5rem;
    transition: all .2s ease-in;
    border: none;
    border-radius: 2rem;
    margin: 2rem 0;
    box-shadow: 0 1rem 1rem rgba($black, 0.2);

    @include respond(phone) {
      padding: 1.5rem 3rem;
      font-size: 1.5rem;
    }
  }

  &:hover, &:active {
    transform: translateY(-0.3rem);
    box-shadow: 0 .75rem 0.5rem rgba($black, 0.2);

    &:after {
      transform: scaleX(1.4) scaleY(1.6);
      opacity: 0;
    }
  }

  &:active,
  &:focus {
    transform: translateY(.1rem);
    box-shadow: 0 .5rem 1rem rgba($black, 0.2);
    outline: none;
  }

  &-white {
    color: $color-secondary;
    background-color: $white;

    &:hover {
      /*  background-image: linear-gradient(to right, $color-secondary, $color-primary);*/
      background-image: $main-gradient;
      color: $color-secondary;
    }
  }

  &-dark {
    color: $color-secondary;
    background-image: $main-gradient;

    &:hover {
      color: currentColor;
      background-color: $white;
    }
  }


}