.description {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;

  &__content {
    flex: 0 0 60%;
    font-size: 3rem;
    padding: 3.5rem;
    font-weight: 100;
    letter-spacing: .1rem;
    line-height: 3rem;

    &-color-secondary{
      background-image: linear-gradient(to right, $red,#214713);
      -webkit-background-clip: text;
      color: transparent;
      /*
      color: $color-secondary;
      */
    }



    &-color-red{
      color: $red;
    }

    &-color-primary{
      color: $color-primary;
    }
    &-color-blue{
      color: $color-secondary;
    }


  }

  &__image {
    text-align: center;

  }

  .image {
    max-width: 20vw;
    height: auto;
  }

  @include respond(phone){
    margin-top: 3rem;
    flex-direction: column-reverse;
    text-align: center;
  }

}
