.photo {
  max-width: 60%;
  border-radius: 5rem;
  margin: auto;
  transition: all 400ms ease-in;


  @include respond(phone){
    max-width: 90%;
  }


  &:hover, &:active{
    transform: translateY(0.5rem) scale(1.05);
  }
}