
*,
*:after,
*:before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;


  @include respond(tab-land) {
    font-size: 56.25%;
  }
  @include respond(tab-port) {
    font-size: 50%;
  }
  @include respond(big-desktop) {
    font-size: 75%;
  }
}

body {
  overflow-x: hidden;
 /* background: linear-gradient(63deg, $color-primary 23%, transparent 23%) 7px 0,
  linear-gradient(63deg, transparent 74%, $color-primary 78%),
  linear-gradient(63deg, transparent 34%, $color-primary 38%, $color-primary 58%, transparent 62%),
  #444;
  background-size: 1.6rem 4.8rem;*/
  /*
  padding: 3rem;
  */
  box-sizing: border-box;
  @include respond(tab-port) {
    padding: 0;
  }

}
