.section-about {
  background-color: $white;
  margin: -25rem 0;
  padding: 25rem 0 25rem 0;
  --webkit-clip-path: polygon(0 20vh, 100% 0, 100% 100%, 0 100%);
  clip-path: polygon(0 20vh, 100% 0, 100% 100%, 0 100%);

  &-orange {
    background-image: radial-gradient( lighten($color-primary, 10%),$color-primary);
    color: $white;
  }
}