.container {
  min-height: 90vh;
  display: flex;
  flex-direction: column;
  vertical-align: middle;
  justify-content: center;
  background-image: $main-gradient;
  animation-name: animation-background;
  background-size: 400% 100%;
  animation-duration: 4s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in;


  .thank-you-card {
    padding: 10rem 2rem;

  }


}

.social-icons {
  width: 50%;
  margin: 5rem auto;
  @include respond(phone) {
    width: 80%;
    margin: 5rem auto;
  }
}

